<div class="container">
    <h1>New Document</h1>
    <br>
    <div class="form__group field">
        <input type="text" class="form__field" placeholder="Title" name="newDocTitle" id='newDocTitle'
            [(ngModel)]="newDocTitle" required />
        <label for="newDocTitle" class="form__label">Title</label>
    </div>
    <br>
    <br>
    <div class="form__group field">
        <input type="text" class="form__field" placeholder="Abstract" name="newDocAbstract" id='newDocAbstract'
            [(ngModel)]="newDocAbstract" required />
        <label for="newDocAbstract" class="form__label">Abstract</label>
    </div>
    <br>
    <br>
    <div class="form__group field">
        <textarea rows="6" cols="100" class="form__field" placeholder="Body" name="newDocBody" id='newDocBody'
            [(ngModel)]="newDocBody" required></textarea>
        <label for="newDocBody" class="form__label">Body</label>
    </div>

    <br>
    <br>
    <button class="blue-button" (click)="addNewDoc()">Submit</button>
    <br>
    <br>
    <ng-template [ngIf]="error">
        {{ errorText }}
    </ng-template>
</div>